<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsSite</title>
    <link rel="icon" href="/news-logo.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Recursive:wght@500&family=Teko:wght@300&family=Varta:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script data-ad-client="ca-pub-1432026836716873" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <div class="header">
        <h2 class="logo-name">NewsSite</h2>
        <p class="production-name pro-logo" style="text-align: center;">Tanmay Singewar Productions</p>
        <form id="s-form">
            <input type="text" placeholder="Search for topics, locations & sources" class="search-field" name="search">
        </form>
    </div>
    <div class="card">
        <p class="catagory-heading">Search by Catagory</p>
        <ul class="menu">
            <li class="menu-list" id="h-catagory">health</li>
            <li class="menu-list" id="e-catagory">entertainment</li>
            <li class="menu-list" id="g-catagory">general</li>
            <li class="menu-list" id="sci-catagory">science</li>
            <li class="menu-list" id="sp-catagory">sports</li>
            <li class="menu-list" id="t-catagory">technology</li>
        </ul>
    </div>
    <div>
        <div class="card">
            <div class="main-body">
                <table>
                    <tr>
                        <td><img src="IMG_20200418_200057.jpg" class="circle-logo-img" alt=""></td>
                        <td><span class="id-name">Tanmay Singewar</span> <br><span class="production-name">Tanmay Singewar Production</span>
                        </td>
                    </tr>
                </table>
                <p class="covid-heading">COVID-19 Updates in India</p>
                <span class="production-name">Data updated on</span><span class="production-name" id="data-update-date"> </span>
                <table class="covid19-table" cell-padding="2px">
                    <div class="covid-table-padding">
                        <tr>
                            <td class="covid19-table-td">Active</td>
                            <td class="covid19-table-td" id="data-A"></td>
                        </tr>
                        <tr>
                            <td class="covid19-table-td">Confirm</td>
                            <td class="covid19-table-td" id="data-C"></td>
                        </tr>
                        <tr>
                            <td class="covid19-table-td">Death</td>
                            <td class="covid19-table-td" id="data-D"></td>
                        </tr>
                        <tr>
                            <td class="covid19-table-td">Recover</td>
                            <td class="covid19-table-td" id="data-R"></td>
                        </tr>
                    </div>
                </table>
                <span class="production-name">Site is Design and Created by Tanmay Singewar</span>
            </div>
            <div id="loding" class="covid-heading catagory-heading-style">
            </div>
            <p></p>
             <div class="data">
        </div>
        </div>
       
    </div>
    <div class="card">
        <div class="main-body" style=" background-color: #f1f3f4; border-radius: 0px;">
            <p style="text-align: center;">Tanmay Singewar Production</p><br>
            <p class="production-name" style="text-align: center;">
                This site created to air news and current affairs, we don't save your search history. Data we air on our site are by using third-party sites so any issue regarding news please contact the official site where you will see all detail. <br>
               Third-party APIs which we are using are free APIs so plz don't share any personal info to avoid any further issuer.</br>
               You can contact me at <email>singewartanmay@gmail.com</email>
            </p>
        </div>

    </div>
    <script src="./index.js"></script>
</body>

</html>
